{% extends 'base.html' %}

{% block title %}會員資訊{% endblock %}

{% block content %}
    <h1>會員資訊</h1>
    
    <p><strong>姓名:</strong> {{ user.username }}</p>
    
    <h2>修改密碼</h2>
    <p>請到<a href="{% url 'password_change' %}">這裡</a>修改密碼。</p>
    
    <h2>已報名的活動</h2>
    <ul>
        {% for registration in registrations %}
            <li>
                <a href="{% url 'event_detail' registration.event.id %}">{{ registration.event.name }} - {{ registration.event.event_time }}</a>
            </li>
        {% empty %}
            <li>您尚未報名任何活動。</li>
        {% endfor %}
    </ul>
    <p>掃描此 QR Code 進行簽到</p>
{% if user.userprofile.qr_code %}
    <img src="{{ user.userprofile.qr_code.url }}" alt="會員 QR Code">
{% else %}
    <p>無法顯示 QR Code，可能尚未生成。</p>
{% endif %}


{% endblock %}
